/* Глобальні стилі та змінні */
:root {
    --primary-color: #FFD700;
    --background-color: #0D0D1A;
    --text-color: #FFFFFF;
    --text-secondary-color: #A9A9A9;
}

/* Скидання стилів та базові налаштування */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-montserrat), sans-serif;
    line-height: 1.6;
    padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-orbitron), sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* === Custom Scrollbar === */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary-color) var(--background-color); /* Firefox */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--background-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffe34d; /* Світліший жовтий */
}